In [2]:
import sqlalchemy
import pandas as pd

In [3]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:example@mysqldb/mysql')

In [4]:
df = pd.read_sql_table('user', engine)

In [5]:
df

,Host,User,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv,Reload_priv,Shutdown_priv,...,password_expired,password_last_changed,password_lifetime,account_locked,Create_role_priv,Drop_role_priv,Password_reuse_history,Password_reuse_time,Password_require_current,User_attributes
0,%,root,Y,Y,Y,Y,Y,Y,Y,Y,...,N,2019-09-19 17:14:48,None,N,Y,Y,None,None,None,None
1,localhost,mysql.infoschema,Y,N,N,N,N,N,N,N,...,N,2019-09-19 17:14:41,None,Y,N,N,None,None,None,None
2,localhost,mysql.session,N,N,N,N,N,N,N,Y,...,N,2019-09-19 17:14:41,None,Y,N,N,None,None,None,None
3,localhost,mysql.sys,N,N,N,N,N,N,N,N,...,N,2019-09-19 17:14:41,None,Y,N,N,None,None,None,None
4,localhost,root,Y,Y,Y,Y,Y,Y,Y,Y,...,N,2019-09-19 17:14:48,None,N,Y,Y,None,None,None,None